/*css reset,下面的是伪元素reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ol,
ul {
  list-style: none;
}
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: #eee;
}

.globalHeader {
  margin: 20px; /*居中显示：上下左右都是20px*/

  /*让输入框靠左，搜索靠右：flex布局*/
  display: flex;
  justify-content: space-around;
}

.globalHeader > input {
  border: 1px solid #ddd; /*input默认有border所以需要改*/
  width: 100%; /*左右宽度最大 */
  margin-right: 10px;
  height: 40px;
  padding: 0 10px; /*输入框内左右间隔20px*/
  border-radius: 4px; /*加圆角*/
}

.globalHeader > button {
  white-space: nowrap; /*搜索里面的字不换行*/
  padding: 0 27px;
  border: none;
  border-radius: 4px;
  background-color: #0282b9;
  color: white;
  font-size: 16px;
}

.globalMain {
}
.siteList {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 20px;
}
.siteList > li {
  margin-bottom: 10px;
}
.siteList .site {
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 20px 0;
}
.siteList .site > .logo {
  width: 64px;
  height: 64px;
  font-size: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.siteList .site > .link {
  margin-top: 4px;
  font-size: 14px;
}
.siteList .addButton {
  width: 160px;
}
